<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--Navegador-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/manager">Inicio</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="manager/asignarTareas">Tareas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pendiente</a>
                    </li>
                </ul>
                <span style="color: aliceblue;">Bienvenido/a Manager {{session['name']}} {{session['surnames']}}<a href="{{url_for('logout')}}" class="mx-3">Cerrar sesión</a></span>
            </div>
        </div>
    </nav>

 


</body>
</html>